.card-details-container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 20px;
    background-color: #27374D;
  }
  
  .card-details-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .card-text {
    font-size: 14px;
    margin-bottom: 5px;
    color: black;
  }
  